[mysqld]
default_storage_engine          = InnoDB
binlog_format                   = ROW

# innodb_flush_method : use fsync on Docker for Windows
# innodb_lock_schedule_algorithm : MariaDB >10.1.19 and >10.2.3 only
innodb_flush_log_at_trx_commit  = 0
innodb_flush_method             = O_DIRECT
innodb_file_per_table           = 1
innodb_autoinc_lock_mode        = 2
innodb_lock_schedule_algorithm  = FCFS

# wsrep_sst_auth : user and password for syncing data between DB server instances
wsrep_on                        = ON
wsrep_provider                  = /usr/lib/galera/libgalera_smm.so
wsrep_sst_method                = mariabackup
wsrep_cluster_name              = mini_galera_cluster
wsrep_cluster_address           = gcomm://mariadb1.weave.local,mariadb2.weave.local,mariadb3.weave.local
wsrep_node_name                 = mariadb1
wsrep_node_address              = mariadb1.weave.local
wsrep_sst_auth                  = root:root_password

bind-address                    = 0.0.0.0
init-connect                    = 'SET NAMES utf8mb4'
character-set-server            = utf8mb4
collation-server                = utf8mb4_unicode_ci
max_connections                 = 500
max_connect_errors              = 4294967295
connect_timeout                 = 20
slave_net_timeout               = 30
expire-logs-days                = 1
skip-name-resolve

[mysql]
default-character-set=utf8mb4

[client]
default-character-set=utf8mb4